@import '/css/reset.css';

/* -------- VARIABLES -------- */

:root {
	--primary: #fff;
	--light-gray: #AFAFAF;
  --dark-red: #B02000;

	--primary-text: var(var(--primary));
	--description: var(var(--light-gray));
	--accent: var(--dark-red);
}

/* -------- FONTS -------- */

@font-face {
	font-family: roboto;
	src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: roboto;
	src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: roboto;
	src: url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Black.woff') format('woff');
	font-weight: 900;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/ProximaNova/proximanova_black.woff2') format('woff2'),
		url('../fonts/ProximaNova/proximanova_black.woff') format('woff');
	font-weight: 900;
}

/* -------- MAIN STYLES -------- */

body {
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}
